@import url('https://fonts.googleapis.com/css2?family=Anton&family=Delicious+Handrawn&family=Rubik+Burned&family=Rubik+Pixels&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Delicious Handrawn', cursive;
    
}


html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #000;
    color: white;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

#nav img {
    height: 70px;
    width: 300px;

}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    font-size: 19px;
    color: white;
    text-transform: uppercase;
}

#nav-part3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
    margin-right: 25px;
}

#nav-part3 button {
    background-color: white;
    height: 50px;
    width: 150px;
    font-size: 19px;
    text-transform: uppercase;
    color: black;
    border-radius: 5px;
    font-weight: 600;
}

#landing-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#landing-screen h1 {
    font-size: 130px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#landing-screen h1 span {
    background-color: brown;
    font-size: 40px;
    color: white;
    border-radius: 40px;
    margin: 0 20px;
    padding: 20px 25px;
    z-index: 1;
}

#landing-screen img:nth-child(4) {
    position: absolute;
    height: 250px;
    width: 200px;
    top: 30%;
    left: 10%;
    border-radius: 10px;
    transform: skew(-20deg, 40deg);
    filter: brightness(50%);
    z-index: 0;
}
#landing-screen img:nth-child(5) {
    position: absolute;
    height: 250px;
    width: 200px;
    top: 30%;
    left: 20%;
    border-radius: 10px;
    transform: skew(-20deg, 40deg);
    z-index: 0;
    filter: brightness(50%);
}

#landing-screen img:nth-child(6) {
    position: absolute;
    height: 250px;
    width: 200px;
    top: 30%;
    left: 30%;
    border-radius: 10px;
    transform: skew(-20deg, 40deg);
    z-index: 0;
    filter: brightness(50%);
}

#landing-screen img:nth-child(7) {
    position: absolute;
    height: 250px;
    width: 200px;
    top: 30%;
    margin: auto;
    border-radius: 10px;
    transform: skew(-20deg, 40deg);
    z-index: 0;
    filter: brightness(50%);
}

#landing-screen img:nth-child(8) {
    position: absolute;
    height: 250px;
    width: 200px;
    top: 30%;
    right: 30%;
    border-radius: 10px;
    transform: skew(-20deg, 40deg);
    z-index: 0;
    filter: brightness(50%);
}

#landing-screen img:nth-child(9) {
    position: absolute;
    height: 250px;
    width: 200px;
    top: 30%;
    right: 20%;
    border-radius: 10px;
    transform: skew(-20deg, 40deg);
    z-index: 0;
    filter: brightness(50%);
}

#landing-screen img:nth-child(10) {
    position: absolute;
    height: 250px;
    width: 200px;
    top: 30%;
    right: 10%;
    border-radius: 10px;
    transform: skew(-20deg, 40deg);
    z-index: 0;
    filter: brightness(50%);
}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 80px;
    overflow: hidden;
}